<input
  type="password"
  class="form-control"
  id="password"
  name="password"
  placeholder="P"
  [formControl]="password"
  required
  minlength="6"
  maxlength="30"
/>
<!--<div class="alert-danger" *ngIf="password.errors && f.submitted">-->
<!--  <div *ngIf="password.errors['required']">Password is required</div>-->
<!--  <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>-->
<!--  <div *ngIf="password.errors['maxlength']">Password must be at most 30 characters</div>-->
<!--</div>-->
