<div class="">
  <app-welcome-title></app-welcome-title>
  <form
    *ngIf="!registerSuccessful"
    name="form"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm"
    novalidate
  >
    <div class="form-group">
      <app-username-input [username]="username"></app-username-input>
      <app-email-input [email]="email"></app-email-input>
      <app-password-input [password]="password"></app-password-input>
    </div>
    <div class="form-group">
      <app-form-submit-button label="Sign Up"></app-form-submit-button>
    </div>
    <div class="alert alert-warning" *ngIf="f.submitted && signUpFailed">
      Signup failed! {{ errorMessage }}
    </div>
  </form>
  <div class="alert alert-success" *ngIf="registerSuccessful">
    Your registration is successful!
  </div>
  <app-form-alt-button label='Sign In' (actionRequest)="onSignIn($event)"></app-form-alt-button>
</div>
